---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for item in nav %}
  <url><loc>https://polisheddtla.com{{ item.url }}</loc></url>
{%- endfor %}
{%- for p in collections.posts %}
  <url><loc>https://polisheddtla.com{{ p.url }}</loc></url>
{%- endfor %}
</urlset>
